<html>

<head>
<title>Age and Gender Distributions</title>
</head>

<body>

<!--begin.rcode, echo=FALSE, cache = TRUE
setwd("/Users/myazdaniUCSD/Documents/selfies/Age-Grouped-Selfie-Rate-Plot/blog_posts/age_dist")

library(data.table)

selfies.raw.tags = read.csv("../../data/tags.csv", header = TRUE, stringsAsFactors = FALSE)

ids = unique(selfies.raw.tags$id)

selfies.raw.tags.DT = data.table(selfies.raw.tags)
setkey(selfies.raw.tags.DT, id)
median.age = sapply(ids, FUN = function(x) median(selfies.raw.tags.DT[x]$age))
mean.age = sapply(ids, FUN = function(x) mean(selfies.raw.tags.DT[x]$age))
sd.age = sapply(ids, FUN = function(x) sd(selfies.raw.tags.DT[x]$age))
Mode <- function(x) {
  ux <- unique(x)
  ux[which.max(tabulate(match(x, ux)))]
}

gender.agreement.level = function(x) {
  ux <- unique(x)
  length(which(x == ux[which.max(tabulate(match(x, ux)))] ))/ length(x) 
}

mode.gender = sapply(ids, FUN = function(x) Mode(selfies.raw.tags.DT[x]$gender))
gender.conf = sapply(ids, FUN = function(x) gender.agreement.level(selfies.raw.tags.DT[x]$gender))

cities = sapply(ids, FUN = function(x) selfies.raw.tags.DT[x]$city[1])
selfies.tags = data.frame(id = ids, median.age = median.age, mean.age = mean.age, sd.age= sd.age, mode.gender = mode.gender, gender.conf = gender.conf, city = cities)
levels(selfies.tags$city) = c("Bangkok", "Berlin", "Moscow", "New York", "Sao Paulo", "Tokyo")
levels(selfies.tags$mode.gender) = c("Female", "Male")

num.selfies.per.city = data.frame(city = names(summary(as.factor(selfies.tags$city))), total.selfies = summary(as.factor(selfies.tags$city)))

selfies.tags$age_group = cut(selfies.tags$median.age, c(0, 17, 21, 25, 29, max(selfies.tags$median.age)))
selfie.age.group.rate = aggregate(selfies.tags$median.age, selfies.tags[c("mode.gender", "city", "age_group")], length)
names(selfie.age.group.rate)[ncol(selfie.age.group.rate)] = "num.selfies"
selfie.age.group.rate = merge(selfie.age.group.rate, num.selfies.per.city, by = "city")
selfie.age.group.rate$rate = selfie.age.group.rate$num.selfies/selfie.age.group.rate$total.selfies

selfie.age.group.rate$age_group = factor(selfie.age.group.rate$age_group)
selfie.age.group.rate$mode.gender = factor(selfie.age.group.rate$mode.gender)

#levels(selfie.age.group.rate$age_group) = c("Under 18", "18 - 24", "24-32", "Over 32")

selfie.age.group.all = aggregate(selfies.tags$median.age, selfies.tags[c("mode.gender", "city")], length)
names(selfie.age.group.all)[ncol(selfie.age.group.all)] = "num.selfies"
selfie.age.group.all = merge(selfie.age.group.all, num.selfies.per.city, by = "city")
selfie.age.group.all$rate = selfie.age.group.all$num.selfies/selfie.age.group.all$total.selfies

selfie.age.group.all$mode.gender = factor(selfie.age.group.all$mode.gender)


calculate.female.odds.age.group = function(x) {
  num.females =  x[which(x$mode.gender == "Female"), "num.selfies"]
  num.males = x[which(x$mode.gender == "Male"), "num.selfies"]
  total.number = num.females + num.males
  p = num.females/total.number
  return(log(p / (1 - p)))
}

selfie.odds.group = by(selfie.age.group.rate, selfie.age.group.rate[c("city", "age_group")], calculate.female.odds.age.group)
selfie.odds.group = as.data.frame.table(selfie.odds.group, responseName="Odds")
colnames(selfie.odds.group)[1] = "city"

calculate.female.odds = function(x) {
  p = x[which(x$mode.gender == "Female"), "rate"] 
  return(log(p / (1 - p)))
}
selfie.odds = by(selfie.age.group.all, selfie.age.group.all$city, calculate.female.odds)
selfie.odds = as.data.frame.table(selfie.odds, responseName="Odds")
colnames(selfie.odds)[1] = "city"

selfie.odds$gender = "Female"

selfie.odds.group[which(selfie.odds.group$Odds > 0), "gender"] = "Female"
selfie.odds.group[which(selfie.odds.group$Odds < 0), "gender"] = "Male"
end.rcode-->

<p>In <a href="http://selfiecity.net">selfiecity</a> and a previous <a href = "http://lab.softwarestudies.com/2014/02/gender-age-and-ambiguity-of-selfies-on.html">post</a>, we showed that Moscow has a dramatic number of female selfies. To be more precise, the odds of finding a female selfie in Moscow is 9 to 2. In this post we are going to ask if this trend holds for different age groups.</p>

<p>First, let's look again at the distribution of selfies partition by gender for the different cities:</p>

<!--begin.rcode fig.width=8.7, fig.height=5, echo= FALSE
library(ggplot2)
size_of_point_markers = 9
size_of_city_names = 2 
size_of_percentage_labels = 2
size_of_percentage_digits = 1.5
size_of_legend_text = 1.5

fig_width = 7
fig_height = 6

ggplot(selfie.odds, aes(x = Odds, y = city)) + 
  geom_segment(aes(yend=city), xend = 0, colour = "grey50") + 
  geom_point(size = rel(size_of_point_markers), aes(colour = gender)) +  
  theme_bw() + 
  theme(panel.grid.major.y = element_blank(), 
        axis.text.x = element_text(size = rel(size_of_percentage_labels)), 
        axis.title.x = element_text(size = rel(size_of_percentage_digits)),
        axis.text.y = element_text(size = rel(size_of_city_names)),
        legend.text = element_text(size = rel(size_of_legend_text)),
        legend.key = element_blank(),
        legend.title = element_blank()) +
  ylab("") +
  xlab("Log Odds") 
end.rcode-->

<p>This plot shows the <a href = "http://en.wikipedia.org/wiki/Odds">odds</a> (on a log scale) of a selfie being female from the different cities. We can see that Moscow has the highest log odds than any other city (note that the anti-log of 1.5 is roughly 4.5, which corresponds to the 9 to 2 odds we stated earlier). We also observe that all the log odds are positive numbers. This indicates that most selfies are indeed female (if the log odds is negative, then the odds in favor of finding male selfies) regardless of the city. Also note that if the log odds is close to zero, then the proportion of male and female selfies are the same.</p>

<p>Let's now how the log odds changes when we group the selfies by age:</p>


<!--begin.rcode fig.width=12, fig.height=16, echo= FALSE
ggplot(selfie.odds.group, aes(x = Odds, y = city)) + 
  geom_segment(aes(yend=city), xend = 0, colour = "grey50") + 
  geom_point(size = rel(size_of_point_markers), aes(colour = gender)) +   
  theme_bw() + 
  theme(panel.grid.major.y = element_blank(), 
        axis.text.x = element_text(size = rel(size_of_percentage_labels)), 
        axis.title.x = element_text(size = rel(size_of_percentage_digits)),
        axis.text.y = element_text(size = rel(size_of_city_names)),
        strip.text.x = element_text(size = rel(size_of_city_names)),
        legend.text = element_text(size = rel(size_of_legend_text)),
        legend.key = element_blank(),
        legend.title = element_blank(),
        legend.position = c(.8, .2), legend.justification = c(1,1)) +
  ylab("") +
  #facet_grid(age_group ~ ., scales = "free_y", space = "free_y", ncol = 2) +
  facet_wrap(~age_group, ncol = 2, scales = "free_y") + 
  xlab("Log Odds") 
end.rcode-->

<p>We are essentially showing the same graph as before, but in the plot above we lumped all selfies from different age groups into one single group. Here, however, we are only showing selfies that are in the particular age groups. By isolating different age groups, we see that the gender distributions are very different. This can be attributed to be an example of <a href = "http://en.wikipedia.org/wiki/Simpson's_paradox">Simpson's paradox</a>. This paradox is when different trends in different groups get "washed out" when the different groups are combined. In our case, we see that when we group all the age groups together, the individual trends of the age groups disappear.</p> 

<p>For example, we notice that for the age group of 17 and under, Moscow <i>does not</i> dominate the log-odds of having female selfies as in the previous plot (Bangkok does). But the most striking trend that we see is that as the age group increases, the odds of a selfie being female peaks in the early twenties and starts to decline in late twenty-somethings (and beyond). We see that for all cities (except Moscow again!), the odds of selfies are in favor of males. By grouping the selfies in this way, we also observer that Bangkok is the city where the youngest males start to dominate the selfie marketplace. </p>

<p>Finally, with the exception of the pre-college teens and pre-teens, selfies from Moscow are heavily dominated by females. This was the same result as we had before, but by focusing on specific age groups, we are able to observe more specific trends and see how the age demographics of selfies change for different cities and age groups.</p>
</body>
</html>
